---
import MainLayout from '../layouts/MainLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ProjectCard from '../components/ProjectCard.astro';
import projects from '../data/projects';
---

<MainLayout title="Projects – Rizki Ramadhan" description="A collection of web projects by Rizki Ramadhan — including Komcards, Infralib, Komship, The Quran App, and more.">
  <Header slot="header" />

  <div
    class="min-h-[calc(100vh_-_64px)] bg-white max-w-[1280px] px-[30px] sm:px-[70px] md:px-[110px] mx-auto"
  >
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-x-5 gap-y-5 my-10">
      {projects.map((project) => (
        <ProjectCard
          title={project.title}
          description={project.description}
          image={project.image}
          technology={project.technology}
          url={project.url}
        />
      ))}
    </div>
  </div>

  <Footer slot="footer" />
</MainLayout>
